%h1 Listing portadas

= link_to 'Nueva Portada', new_portada_path
%table
  %tr
    %th Imagen
    %th
    %th
    %th

  - @portadas.each do |portada|
    %tr
      %td= image_tag portada.imagen_url(:regular) 
      %td= link_to 'Editar', edit_portada_path(portada)
      %td= link_to 'Eliminar', portada, :method => :delete, :data => { :confirm => '¿Estas seguro?' }

%br

