#region-publicaciones.container

  .region
    .region-title
      %h1.page-title= page_title!(@titulo)

    .region-inner
      - if current_admin
        .admin-control
          = link_to 'Crear Publicacion', new_publicacion_path, class: 'btn btn-primary'

  .region
    .region-inner
      #publicaciones
        %ul.publicaciones-list
          = render @publicaciones

    = paginate @publicaciones
