- content_for :javascript do
  = javascript_include_tag 'nested_form.js'

- page_title!('Creando publicación')

#region-publicaciones.container

  .region
    .region-title
      %h1
        Creando
        %b
          publicación

  .region
    %ol.breadcrumb
      %li.active 1 Características
      %li 2 Donde se perdió

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
