#region-publicaciones.container

  .region
    .region-title
      %h1= page_title!('Resultado de Búsqueda')

  .region
    .region-inner
      #publicaciones
        %ul.publicaciones-list    
          = render @publicaciones
