#region-videos.container

  .region
    .region-title
      %h1= page_title!('Videos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Video', new_video_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Link
            %th
            %th

          = render 'sidebar'
