#region-videos.container
  .region
    .region-title
      %h1= page_title!('video')

  .region
    %p
      %b Link:
      = @video.link

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_video_path(@video), class: 'btn btn-success'
    = link_to 'Regresar', videos_path, class: 'btn btn-warning'
