- page_title!('Editando direccion')

#region-direcciones.container

  .region
    .region-title
      %h1
        Editando
        %b
          direccion

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @direccion, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
