- page_title!('Creando publicación')

#region-direcciones.container

  .region
    .region-title
      %h1
        Creando
        %b
          publicación

  .region
    %ol.breadcrumb
      %li 1 Características
      %li.active 2 Donde se perdió

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
