%h1 Razas

= link_to 'Nueva Raza', new_raza_path

%br

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @razas.each do |raza|
    %tr
      %td= raza.nombre
      %td= link_to 'Editar', edit_raza_path(raza)
      %td= link_to 'Eliminar', raza, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

%br

