%h1 Ciudades

= link_to 'Nueva Ciudad', new_ciudad_path

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @ciudades.each do |ciudad|
    %tr
      %td= ciudad.nombre
      %td= link_to 'Editar', edit_ciudad_path(ciudad)
      %td= link_to 'Eliminar', ciudad, :method => :delete, :data => { :confirm => '¿Estas Seguro?' }

%br

