



body {line-height: 145%; color: $black}

body,
a, p, ul,
h1, h2, h3, h4, h5, h6 {font-family: 'Cabin', sans-serif; margin: 0}
p {font-size: 18px; line-height: 120%; margin-bottom: 20px}


.heading-default {margin-bottom: 25px; text-transform: uppercase; font-weight: bold; color: $black}

#main-footer {a {text-transform: uppercase; color: white}}
h1.page-title {font-size: $page_title; @extend .heading-default;}
h2.title {font-size: $heading; @extend .heading-default; a {color: #383938} }
h2.title.low {font-size: 26px}
h2.title.no-margin {margin: 0}

.subtitle {@extend .heading-default; font-size: $heading - 6px; margin-bottom: 5px; color: $gray2; letter-spacing: 1px}
.resaltado {@extend .heading-default; font-size: $heading - 12px; font-weight: 300; margin-bottom: 5px; color: $gray2; letter-spacing: 1px}
.bolded {text-transform: uppercase; color: black}

.item, li {
  h2.title {margin-bottom: 5px}
}

.sidebar {
  h2.title {margin-bottom: 5px; font-weight: 300}
}

.bolded {font-size: 18px}
.font-style-2 {font-size: 18px; text-transform: uppercase; color: #383938}
.p-top {padding-top: 15px}

.item-fecha {padding: 15px 0 20px; font-weight: bold}
