.nav > li > a {padding: 0}
#menu-top .nav > li.link {border-left: 1px solid black; margin-left: 18px; margin-right: 10px; padding-left: 10px}
#menu-top .nav > li.link.first {border-left: 0}
#menu-top .nav > li > a {color: #545553}

.navbar-default .navbar-nav > li {margin-left: 18px}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > span {background: $cyan; color: white; text-transform: uppercase; border-radius: 17px;
padding: 3px 20px; text-transform: uppercase; @include inline-block }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {background: $cyan2; color: white}

.navbar-default .navbar-nav > .active > a,

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {background: $cyan2; color: white}

.navbar-default .navbar-nav > li > span {background: $black}

.navbar-default {border: 0; border-radius: 0; background: none}

#menu-top {float: right; clear: right; margin: 0}
.navbar-default {float: left; clear: right; margin: 0}

#menu-top {margin-bottom: 15px}
#main-header {padding: 13px 0 2px;
  .container {margin-bottom: 0}
}

#carousel-generic {
  img {width: 100%}
}

.admin-controls {margin-bottom: 20px}

.rect {padding: 5px; background: $yellow; float: right; font-size: 16px; text-transform: uppercase; line-height: 100%;
  position: relative; top: -3px;
  b {color: #666; font-weight: 300}
}

.wrapper {float: left; clear: left}
.b-line {border-bottom: 1px solid black; float: left; clear: left; width: 100%; padding: 4px 0 5px}


#region-construccion {
    float: none;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding-top: 45px;
    .img-responsive {
      margin: 0 auto;
    }
    p { margin-top: 45px; }
}


.item-image-wrapper {
  position: relative;
  .item-paragraph {
    @include absolute(bottom, left, 10px, 0); background: rgba(0,0,0,0.7); padding: 5px;
    p {color: white}
  }
  img {width: 100%; border-bottom: 10px solid $cyan2}
}

.item {@extend .m-bottom-l}

.taglist {
  padding: 0;
  li {list-style: none;
    @extend .m-bottom-xs;
    a {color: white; background: $cyan; border-radius: 20px; padding: 6px 12px; text-transform: uppercase; @include inline-block;
      &:hover {background: $cyan2; text-decoration: none}
    }
  }
}


.since {float: left; margin-top: 24px; text-transform: uppercase; font-weight: bold; font-size: 16px}
.btn.btn-info {
  background: $yellow; color: white; border: 1px solid #ccc; margin: 10px 0; padding: 3px 0px; width: 180px;
  text-transform: uppercase; font-size: $legible;
  &.cyan {background: $cyan2;
    &:hover {background: $cyan2}
  }
  &:hover {background: $yellow2}
}

.form-group {overflow: hidden; padding-left: 0; padding-right: 0}
.form-check input {margin-right: 15px}
.form-last {
  &,
  label,
  input {margin-bottom: 0 !important}
}

.btn.btn-info.to-right {float: right; clear: right; }

.btn-back {
  @extend .btn; @extend .btn-default; text-transform: uppercase;
}

#page-search {
  .front & {
    margin-top: -55px; 
  }
  .not-front & {
    margin-top: -50px;
  }
  .region-inner,
  .form-group {padding-left: 0; padding-right: 0; .inner {float: left; width: 100%; clear: left}}
  .form-group .form-group {margin-left: 0; float: left; width: 100%}
   label {
    text-align: left; @include inline-block
  }
}

.imagen-fija img {width: 100%}


.carousel-indicators {
  @include absolute(top, right, 20px, 20px); width: auto; left: auto;
  li, li.active {
    float: none; display: block; margin-bottom: 10px;
  }
}

.item {@extend .clearfix}
#main-footer {
  padding: 40px 0;
}

$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;


i.icon {
  display: block; margin-right: 10px; float: left;
  &.icon-1 {@include icons-sprite(icon_1)}
  &.icon-2 {@include icons-sprite(icon_2)}
  &.icon-3 {@include icons-sprite(icon_3)}

  &.facebook {@include icons-sprite(facebook)}
  &.twitter {@include icons-sprite(twitter)}
  &.vimeo {@include icons-sprite(vimeo)}


}

.child-align-right {text-align: right}
.compartir {
  @include inline-block; position: relative; top: 15px;
  text-align: right;
  i.icon {float: none; @include inline-block}
}


.publicaciones-list {
  @extend .custom-list;
}

.custom-list {
  padding-left: 0;
  li {
    position: relative;
    h2.title {margin-bottom: 20px;}
    @extend .clearfix; list-style: none; @extend .m-top-s; @extend .p-top-s; border-top: 1px solid $gray;
    .item-figure {@extend .pull-left;
      img {@extend .media-object; @extend .img-left; margin-bottom: 0}
    }
    .item-content {
      @extend .media-object;
      .item-tipo {@extend .subtitle}
      .item-visto {@extend .resaltado}
      .item-edad {@extend .bolded}
    }
    .item-links {
      @include absolute(right, top, 0, 0)
    }
  }

}

.carousel-inner .item {margin-bottom: 0}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

textarea {height: 100px; resize: vertical}

ul.noticias-list {
  list-style: none outside none;
}
