.nav > li > a {padding: 0}
.navbar-default .navbar-nav > li {margin-left: 18px}
.navbar-default .navbar-nav > li > a {background: $cyan; color: white; text-transform: uppercase; border-radius: 17px;
padding: 3px 20px; text-transform: uppercase;  }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {background: $black; color: white}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {background: $black; color: white}


.navbar-default {border: 0; border-radius: 0; background: none}

#menu-top {float: right; clear: right; margin: 0}
.navbar-default {float: left; clear: right; margin: 0}

#menu-top {margin-bottom: 15px}
#main-header {padding: 13px 0 2px;
  .container {margin-bottom: 0}
}

#carousel-generic {
  img {width: 100%}
}

#region-construccion {
    float: none;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding-top: 45px;
    .img-responsive {
      margin: 0 auto;
    }
    p { margin-top: 45px; }
}


.item-image-wrapper {
  position: relative;
  .item-paragraph {
    @include absolute(bottom, left, 10px, 0); background: rgba(0,0,0,0.7); padding: 5px;
    p {color: white}
  }
  img {width: 100%; border-bottom: 10px solid $cyan2}
}

.item {@extend .m-bottom-l}

.taglist {
  padding: 0;
  li {list-style: none;
    @extend .m-bottom-xs;
    a {color: white; background: $cyan; border-radius: 20px; padding: 6px 12px; text-transform: uppercase; @include inline-block;
      &:hover {background: $cyan2; text-decoration: none}
    }
  }
}


.since {float: left; margin-top: 24px; text-transform: uppercase; font-weight: bold; font-size: 16px}
.btn.btn-info.to-right {float: right; background: $yellow; color: white; border: 1px solid #ccc; margin-top: 10px; padding: 3px 30px;
text-transform: uppercase; font-size: $legible1;
  &:hover {background: $yellow2}
}


.carousel-indicators {
  @include absolute(top, right, 20px, 20px); width: auto; left: auto;
  li, li.active {
    float: none; display: block; margin-bottom: 10px;
  }
}

.item {@extend .clearfix}
#main-footer {
  padding: 40px 0;
}

$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;


i.icon {
  display: block; margin-right: 10px; float: left;
  &.icon-1 {@include icons-sprite(icon_1)}
  &.icon-2 {@include icons-sprite(icon_2)}
  &.icon-3 {@include icons-sprite(icon_3)}

  &.facebook {@include icons-sprite(facebook)}
  &.twitter {@include icons-sprite(twitter)}
  &.vimeo {@include icons-sprite(vimeo)}


}
