$cyan:    #6dccd9;
$cyan2:   #00b6d5;
$black:   #383938;
$gray:    #838583;
$gray2:   #4c4c4c;
$yellow:  #fdd059;
$yellow2:  darken($yellow, 10%);




$legible: 16px;
$legible1: 20px;

$btn: 26px;
$heading: 30px;
$page_title: 40px;
