%h1 Provincias

= link_to 'Nueva Provincia', new_provincia_path

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @provincias.each do |provincia|
    %tr
      %td= provincia.nombre
      %td= link_to 'Editar', edit_provincia_path(provincia)
      %td= link_to 'Eliminar', provincia, :method => :delete, :data => { :confirm => '¿Estas seguro?' }

%br

