%ul.nav.nav-pills.navbar-right
  %li 
    = link_to content_tag(:i, '', class: 'icon facebook'), ''
  %li 
    = link_to content_tag(:i, '', class: 'icon vimeo'), ''
  %li 
    = link_to content_tag(:i, '', class: 'icon twitter'), ''
